.btn1{
    width: 30%;
    margin-right: 0px;
}
.backroundstart{
    height: 350px;
    background-image: url("https://znews-photo.zadn.vn/w660/Uploaded/tmuitg/2016_08_20/4_1.jpg");
    background-repeat: no-repeat;
    background-size: 1535px 400px;
} 
